.content {
  background-color: #ddc;
  height: auto;
  bottom: auto;
  padding: 10px;
  float: left;
  width: 100%;
}

.footer {
  float: left;
  width: 100%;
  background-color: #000;
  z-index: 999999;
  bottom: 0;
  border-radius: 5px;
}

.img {
	width: 100px;
	height: 200px;
}

.bigImg {
  width: 250px;
  height: 500px;
}

.btn-warning {
  color: #000;
}

span {
  font-size: 14px;
  font-weight: bold;
}
.para {
  height: 180px;
}